*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Prompt',sans-serif;
}

/* BACKGROUND */

body{
background:#060606;
color:white;
overflow-x:hidden;
}

body::before{
content:"";
position:fixed;
top:0;
left:0;
width:100%;
height:100%;

background-image:url("images/bg-dots.png");
background-repeat:repeat;
background-size:890px;

opacity:0.32;

pointer-events:none;
z-index:-1;
}

/* BLUE GLOW */

.blue-glow{
position:fixed;
top:0;
right:0;
width:40%;
height:100%;
background:linear-gradient(90deg,transparent,#00bfff);
opacity:0.4;
filter:blur(120px);
z-index:-1;
}

/* NAVBAR */

nav{
display:flex;
justify-content:space-between;
align-items:center;
padding:25px 80px;
}

nav ul{
display:flex;
gap:30px;
list-style:none;
}

nav a{
text-decoration:none;
color:white;
}

/* HERO */

.hero{
display:flex;
justify-content:space-between;
align-items:center;
padding:120px 80px;
position:relative;
}

.hero-text h1{
font-size:120px;
color:#00bfff;
line-height:0.9;
}

/* PROFILE */

.hero-img{
position:relative;
margin-bottom:-200px;
top:-68px;
left:-170px;
}

.hero-img img{
width:480px;
display:block;
}

/* ABOUT */

.about{
display:flex;
justify-content:center;
margin-top:15px;
}

.about-card{

position:relative;
overflow:hidden;

}

/* light sweep */

.about-card::after{

content:"";

position:absolute;

top:0;
left:-120%;

width:80%;
height:100%;

background:linear-gradient(
120deg,
transparent,
rgba(0,195,255,0.5),
transparent
);

animation:cardLight 6s linear infinite;

}

@keyframes cardLight{

0%{
left:-120%;
}

100%{
left:120%;
}

}

.about-card h2{
color:#00c3ff;
margin-bottom:15px;
}

.about-card p{
color:#ddd;
line-height:1.7;
margin-bottom:30px;
}

/* SOFTWARE */

.software{
display:flex;
gap:15px;
margin:20px 0;
}

.software img{
width:70px;
height:auto;
border-radius:0;
background:transparent;
padding:0;
}
 
@keyframes glowPulse{

0%{
box-shadow:0 0 20px rgba(0,195,255,0.2);
}

50%{
box-shadow:0 0 60px rgba(0,195,255,0.5);
}

100%{
box-shadow:0 0 20px rgba(0,195,255,0.2);
}

}

.about-card{
animation:glowPulse 6s infinite;
}
/* BUTTON */

.btn{
background:#00c3ff;
border:none;
padding:12px 25px;
border-radius:20px;
color:black;
font-weight:600;
cursor:pointer;
margin-top:10px;
}

/* CONTACT */

.contact-section{
width:90%;
max-width:1120px;
margin:120px auto;
padding:70px 90px;
border-radius:30px;
background:rgba(0,0,0,0.25);
backdrop-filter:blur(6px);
box-shadow:
0 0 80px rgba(0,195,255,0.15),
inset 0 0 40px rgba(0,195,255,0.08);
}

.contact-divider{
width:80%;
height:2px;
margin:auto;
margin-bottom:70px;
opacity:0.7;
}

.contact-container{
max-width:750px;
margin:auto;
display:flex;
align-items:center;
justify-content:center;
gap:60px;
margin-top:-20px;
}

.contact-phone img{
width:380px;
filter:drop-shadow(0 0 45px rgba(0,195,255,0.8));
animation:phoneFloat 4s ease-in-out infinite;
}

@keyframes phoneFloat{
0%{transform:translateY(0);}
50%{transform:translateY(-15px);}
100%{transform:translateY(0);}
}

.contact-info{
display:flex;
flex-direction:column;
gap:14px;
margin-left:-30px;
}

.contact-item{
display:flex;
align-items:center;
gap:18px;
font-size:18px;
padding:10px 14px;
border-radius:14px;
background:rgba(255,255,255,0.03);
border:1px solid rgba(0,195,255,0.15);
transition:0.3s;
}

.contact-item:hover{
transform:translateX(8px);
color:#00c3ff;
background:rgba(0,195,255,0.08);
box-shadow:0 0 20px rgba(0,195,255,0.3);
}

.contact-item img{
width:46px;
height:46px;
filter:drop-shadow(0 0 10px #00c3ff);
}

.contact-title{
font-size:42px;
margin-bottom:30px;
text-align:center;
letter-spacing:2px;
text-shadow:0 0 20px #00c3ff;
margin-top:-80px;
}

/* PORTFOLIO */

.portfolio{
padding:100px 8%;
}

.portfolio-title{
text-align:center;
font-size:42px;
color:#00d9ff;

margin:20px 0 50px 0;
}

/* MY WORK FRAME */

.work-category{
margin-bottom:80px;
padding:40px;
border-radius:25px;
background:rgba(255,255,255,0.02);
border:1px solid rgba(0,195,255,0.2);
box-shadow:
0 0 60px rgba(0,195,255,0.15),
inset 0 0 40px rgba(0,195,255,0.05);
transition:0.4s;
}

.work-category:hover{
transform:translateY(-5px);
box-shadow:
0 0 90px rgba(0,195,255,0.35);
}

.work-category h3{
font-size:28px;
margin-bottom:25px;
}

/* SLIDER */

.work-slider{
display:flex;
gap:35px;
overflow-x:auto;
padding:20px 5px;
scroll-snap-type:x mandatory;
scroll-behavior:smooth;
cursor:grab;
}

.work-slider::-webkit-scrollbar{
display:none;
}

.work-slider{
-ms-overflow-style:none;
scrollbar-width:none;
}

/* CARD */

.work-card{
min-width:340px;
height:230px;
border-radius:20px;
overflow:hidden;
background:#111;
flex-shrink:0;
scroll-snap-align:center;
box-shadow:0 15px 45px rgba(0,0,0,0.6);
transition:0.4s;
cursor:pointer;
position:relative;
}

.work-card img{
width:100%;
height:100%;
object-fit:cover;
}

.work-card:hover{
transform:translateY(-8px) scale(1.04);
box-shadow:0 30px 80px rgba(0,195,255,0.45);
}

/* LIGHT EFFECT */

.work-card::after{
content:"";
position:absolute;
top:0;
left:-120%;
width:80%;
height:100%;
background:linear-gradient(
120deg,
transparent,
rgba(0,195,255,0.5),
transparent
);
transition:0.7s;
}

.work-card:hover::after{
left:120%;
}

/* FIGMA PHONE */

.figma-section{
display:flex;
justify-content:center;
gap:40px;
flex-wrap:wrap;
margin-top:40px;
}

.figma-phone{

width:320px;
height:650px;

border-radius:40px;

overflow:hidden;

border:10px solid #0a0a0a;

background:black;

box-shadow:0 0 60px rgba(0,195,255,0.6);

transition:0.4s;

}

.figma-phone:hover{
transform:translateY(-10px);
}

.figma-phone iframe{
width:100%;
height:100%;
border:none;
}
/* IMAGE VIEWER */

.image-viewer{
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
background:rgba(0,0,0,0.9);
display:flex;
align-items:center;
justify-content:center;
opacity:0;
pointer-events:none;
transition:0.3s;
z-index:999;
}

.image-viewer img{
max-width:90%;
max-height:90%;
border-radius:12px;
box-shadow:0 0 60px rgba(0,195,255,0.5);
}

.image-viewer.active{
opacity:1;
pointer-events:auto;
}

/* PROJECT SECTION */




/* PROJECT FRAME */

.project-container{
padding:40px;
border-radius:30px;
background:rgba(255,255,255,0.02);
border:1px solid rgba(0,195,255,0.25);
box-shadow:
0 0 80px rgba(0,195,255,0.25),
inset 0 0 40px rgba(0,195,255,0.05);
transition:0.4s;
}

.project-container:hover{
transform:translateY(-6px);
box-shadow:
0 0 110px rgba(0,195,255,0.45);
}

/* COMPUTER FRAME */

.computer-frame{
width:900px;
background:#111;
border-radius:20px;
padding:18px;
box-shadow:
0 0 60px rgba(0,195,255,0.4);
animation:floatPC 6s ease-in-out infinite;
}

.screen{
width:100%;
height:560px;
overflow:hidden;
display:flex;
justify-content:center;
align-items:center;
background:black;

}

.screen iframe{
width:100%;
height:100%;
border:none;
}

.computer-base{
width:200px;
height:18px;
background:#111;
margin:20px auto 0;
border-radius:10px;
box-shadow:0 10px 30px rgba(0,0,0,0.6);
}

/* FLOAT ANIMATION */

@keyframes floatPC{
0%{transform:translateY(0);}
50%{transform:translateY(-10px);}
100%{transform:translateY(0);}
}

/* ROCK */




/* SMOOTH SCROLL */

html{
scroll-behavior:smooth;
}

/* ---------------- MY PROJECT CENTER ---------------- */

.project-container{

display:flex;
justify-content:center;
align-items:center;

position:relative;

}

/* COMPUTER FRAME */
.computer-frame{
position:relative;
z-index:5;
}

/* SCREEN */

.screen{

width:100%;
height:560px;

display:flex;
justify-content:center;
align-items:center;

overflow:hidden;

}

/* FIX FIGMA SCREEN SIZE */

.screen iframe{

width:100%;
height:100%;
border:none;
transform:none;

}

/* ---------------- ROCK SECTION ---------------- */

/* ทำให้คอมทับหิน */



.btn{
background:#00c3ff;
border:none;
padding:8px 20px;
border-radius:20px;
color:black;
font-weight:600;
cursor:pointer;

display:inline-block; /* ทำให้ปุ่มไม่ยืดเต็ม */
margin-top:0; /* เอาการเลื่อนลงออก */
}
.about-container{
display:flex;
gap:80px;
align-items:center;
}

.about-left{
flex:1;
}

.about-right{
border-left:1px solid rgba(0,195,255,0.2);
padding-left:40px;
}

.info-box p{
margin-top:15px;
line-height:1.7;
color:#ddd;
}

.work-frame{
width:90%;
margin:60px auto;
padding:40px;
border-radius:25px;

background:#0b0f14;   /* เปลี่ยนจากใสเป็นสีเข้ม */

border:1px solid rgba(0,255,255,0.3);

box-shadow:
0 0 25px rgba(0,255,255,0.15),
inset 0 0 30px rgba(0,255,255,0.05);
}
.work-frame:hover{

transform:translateY(-6px);

box-shadow:
0 0 100px rgba(0,195,255,0.35);

}

.work-frame h3{
font-size:28px;
margin-bottom:35px;
}

.slider-wrapper{
position:relative;
display:flex;
align-items:center;
}

.work-slider{
display:flex;
gap:35px;
overflow:hidden;
scroll-behavior:smooth;
}

.work-card{
min-width:320px;
height:220px;

border-radius:20px;
overflow:hidden;

cursor:pointer;

box-shadow:0 15px 45px rgba(0,0,0,0.6);

transition:0.4s;
}

.work-card img{
width:100%;
height:100%;
object-fit:cover;
}

.work-card:hover{
transform:scale(1.05);
box-shadow:0 25px 70px rgba(0,195,255,0.4);
}

.slide-btn{

position:absolute;
top:50%;
transform:translateY(-50%);

width:45px;
height:45px;

border-radius:50%;
border:none;

background:#00c3ff;
color:black;

font-size:22px;
font-weight:bold;

cursor:pointer;

z-index:5;

box-shadow:0 0 20px rgba(0,195,255,0.7);

transition:0.3s;

}

.slide-btn:hover{
transform:translateY(-50%) scale(1.15);
}

.prev{
left:-25px;
}

.next{
right:-25px;
}

/* container project */

.project-container{
position:relative;
display:flex;
justify-content:center;
align-items:center;
margin-top:80px;
}



/* ROCK */

.rock{

width:100%;

margin-top:-120px;  /* ดันขึ้นมาติดฐานจอ */

display:flex;
justify-content:center;

position:relative;

z-index:0; /* อยู่หลังจอ */

}

.rock img{

width:1500px;

opacity:0.9;

}


.about-card{
position:relative;
max-width:1100px;
margin:auto;
padding:60px;
border-radius:25px;

background:rgba(0,0,0,0.85);
backdrop-filter:blur(10px);

/* Gradient Border */
border:2px solid transparent;
background-image:
linear-gradient(#000,#000),
linear-gradient(135deg,#00c3ff,#0072ff,#00eaff);

background-origin:border-box;
background-clip:padding-box,border-box;

/* Glow */
box-shadow:
0 0 25px rgba(0,195,255,0.35),
0 0 60px rgba(0,195,255,0.15);

/* smooth animation */
transition:all .4s ease;
}
.about-card{
position:relative;
max-width:1100px;
margin:auto;
padding:60px;
border-radius:25px;

background:rgba(0,0,0,0.85);
backdrop-filter:blur(10px);

/* Gradient Border */
border:2px solid transparent;
background-image:
linear-gradient(#000,#000),
linear-gradient(135deg,#00c3ff,#0072ff,#00eaff);

background-origin:border-box;
background-clip:padding-box,border-box;

/* Glow */
box-shadow:
0 0 25px rgba(0,195,255,0.35),
0 0 60px rgba(0,195,255,0.15);

/* smooth animation */
transition:all .4s ease;
}
.about-card::before{
content:"";
position:absolute;
inset:0;
border-radius:25px;
padding:1px;

background:linear-gradient(120deg,#00c3ff,transparent,#00c3ff);

-webkit-mask:
linear-gradient(#000 0 0) content-box,
linear-gradient(#000 0 0);

-webkit-mask-composite:xor;
mask-composite:exclude;

opacity:.5;
}

/* STAR BACKGROUND */

body::after{
content:"";
position:fixed;
top:0;
left:0;
width:100%;
height:100%;

background-image:
radial-gradient(2px 2px at 20% 30%, #00c3ff, transparent),
radial-gradient(2px 2px at 70% 60%, #00c3ff, transparent),
radial-gradient(1px 1px at 40% 80%, #00c3ff, transparent),
radial-gradient(2px 2px at 80% 20%, #00c3ff, transparent),
radial-gradient(1px 1px at 10% 70%, #00c3ff, transparent);

animation:starMove 20s linear infinite;

opacity:0.5;
pointer-events:none;
z-index:-2;
}

@keyframes starMove{

0%{
transform:translateY(0);
}

100%{
transform:translateY(-200px);
}

}

/* ============================= */
/* MY PROJECT SECTION */
/* ============================= */

.services{

padding:140px 8%;

display:flex;
flex-direction:column;

align-items:center;
justify-content:flex-start;

text-align:center;

gap:60px;   /* เพิ่มบรรทัดนี้ */

}

/* TITLE */

.project-title{

font-size:48px;

color:#00cfff;

text-shadow:
0 0 15px #00cfff,
0 0 35px rgba(0,195,255,0.7);

margin-bottom:70px;

letter-spacing:2px;

position:relative;
z-index:5;

}

/* ============================= */
/* PROJECT FRAME */
/* ============================= */
.project-container{

width:100%;
max-width:1100px;

margin:0 auto;   /* จัดกลาง */

padding:50px;

border-radius:30px;

background:#050505;

position:relative;

display:flex;
justify-content:center;
align-items:center;

box-shadow:
0 0 40px rgba(0,195,255,0.3),
0 0 120px rgba(0,195,255,0.15),
inset 0 0 40px rgba(0,195,255,0.08);

overflow:hidden;

}

/* animated border */

.project-container::before{

content:"";

position:absolute;

width:200%;
height:200%;

background:conic-gradient(
transparent,
#00cfff,
transparent,
#00cfff,
transparent
);

animation:rotateBorder 6s linear infinite;

}

.project-container::after{

content:"";

position:absolute;

inset:4px;

background:#050505;

border-radius:26px;

z-index:1;

}

/* ============================= */
/* COMPUTER FRAME */
/* ============================= */
.computer-frame{

position:relative;

z-index:5;

width:900px;

margin:auto;   /* สำคัญ */

background:#111;

border-radius:20px;

padding:18px;

box-shadow:
0 0 60px rgba(0,195,255,0.5),
0 0 120px rgba(0,195,255,0.2);

animation:floatPC 6s ease-in-out infinite;

}

/* screen */

.screen{

width:100%;
height:560px;

overflow:hidden;

display:flex;
justify-content:center;
align-items:center;

background:black;

}

.screen iframe{

width:100%;
height:100%;

border:none;

}

/* base */

.computer-base{

width:200px;
height:18px;

background:#111;

margin:20px auto 0;

border-radius:10px;

box-shadow:
0 10px 30px rgba(0,0,0,0.7);

}

/* ============================= */
/* ANIMATIONS */
/* ============================= */

@keyframes floatPC{

0%{
transform:translateY(0);
}

50%{
transform:translateY(-12px);
}

100%{
transform:translateY(0);
}

}

@keyframes rotateBorder{

0%{
transform:rotate(0deg);
}

100%{
transform:rotate(360deg);
}

}



body::after{
content:"";
position:fixed;
top:0;
left:0;
width:100%;
height:100%;

background-image:
radial-gradient(3px 3px at 20% 30%, #00eaff, transparent),
radial-gradient(3px 3px at 70% 60%, #00eaff, transparent),
radial-gradient(2px 2px at 40% 80%, #00eaff, transparent),
radial-gradient(3px 3px at 80% 20%, #00eaff, transparent),
radial-gradient(2px 2px at 10% 70%, #00eaff, transparent);

animation:starMove 20s linear infinite;

opacity:0.9;   /* เพิ่มความชัด */

pointer-events:none;
z-index:-2;
}

.screen img{
width:100%;
height:100%;
object-fit:cover;
cursor:pointer;
transition:0.4s;
}

.screen img:hover{
transform:scale(1.05);
}

.video-box{
position:relative;
}

.video-box img{
width:100%;
height:100%;
object-fit:cover;
display:block;
}

.play-btn{
position:absolute;
top:50%;
left:50%;
transform:translate(-50%,-50%);
width:80px;
height:80px;
background:rgba(0,0,0,0.6);
border-radius:50%;
}

.play-btn::after{
content:"";
position:absolute;
top:50%;
left:55%;
transform:translate(-50%,-50%);
border-left:22px solid white;
border-top:14px solid transparent;
border-bottom:14px solid transparent;
}

.video-box:hover .play-btn{
background:#00c3ff;
}